@import "tailwindcss";
@import "tw-animate-css";

/* Font Nunito */
@font-face {
  font-family: "Nunito-Sans";
  src: url("./assets/fonts/NunitoSans/NunitoSans-Variable.ttf")
    format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --*: initial;

  /* Breakpoints */
  --breakpoint-sm: 30rem;
  --breakpoint-md: 51rem;
  --breakpoint-lg: 79.5rem;
  /* Cyan Color */
  --color-sky-50: oklch(0.977 0.013 236.62);
  --color-sky-100: oklch(0.951 0.026 236.824);
  --color-sky-200: oklch(0.901 0.058 230.902);
  --color-sky-300: oklch(0.828 0.111 230.318);
  --color-sky-400: oklch(0.746 0.16 232.661);
  --color-sky-500: oklch(0.685 0.169 237.323);
  --color-sky-600: oklch(0.588 0.158 241.966);
  --color-sky-700: oklch(0.5 0.134 242.749);
  --color-sky-800: oklch(0.443 0.11 240.79);
  --color-sky-900: oklch(0.391 0.09 240.876);
  /* Red color */
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  /* Gray color */
  --color-gray-50: oklch(0.985 0.002 247.839);
  --color-gray-100: oklch(0.967 0.003 264.542);
  --color-gray-200: oklch(0.928 0.006 264.531);
  --color-gray-300: oklch(0.872 0.01 258.338);
  --color-gray-400: oklch(0.707 0.022 261.325);
  --color-gray-500: oklch(0.551 0.027 264.364);
  --color-gray-600: oklch(0.446 0.03 256.802);
  --color-gray-700: oklch(0.373 0.034 259.733);
  --color-gray-800: oklch(0.278 0.033 256.848);
  --color-gray-900: oklch(0.21 0.034 264.665);
  /* Green color */
  --color-green-50: oklch(0.982 0.018 155.826);
  --color-green-100: oklch(0.962 0.044 156.743);
  --color-green-200: oklch(0.925 0.084 155.995);
  --color-green-300: oklch(0.871 0.15 154.449);
  --color-green-400: oklch(0.792 0.209 151.711);
  --color-green-500: oklch(0.723 0.219 149.579);
  --color-green-600: oklch(0.627 0.194 149.214);
  --color-green-700: oklch(0.527 0.154 150.069);
  --color-green-800: oklch(0.448 0.119 151.328);
  --color-green-900: oklch(0.393 0.095 152.535);
  /* Yellow color */
  --color-yellow-50: oklch(0.987 0.026 102.212);
  --color-yellow-100: oklch(0.973 0.071 103.193);
  --color-yellow-200: oklch(0.945 0.129 101.54);
  --color-yellow-300: oklch(0.905 0.182 98.111);
  --color-yellow-400: oklch(0.852 0.199 91.936);
  --color-yellow-500: oklch(0.795 0.184 86.047);
  --color-yellow-600: oklch(0.681 0.162 75.834);
  --color-yellow-700: oklch(0.554 0.135 66.442);
  --color-yellow-800: oklch(0.476 0.114 61.907);
  --color-yellow-900: oklch(0.421 0.095 57.708);
  /* Black and white */
  --color-black: oklch(0 0 0); /* #000000 */
  --color-white: oklch(1 0 0); /* #FFFFFF */

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line Height */
  --leading-01: 0.25rem; /* 4px */
  --leading-02: 0.5rem; /* 8px */
  --leading-03: 0.75rem; /* 12px */
  --leading-04: 1rem; /* 16px */
  --leading-05: 1.25rem; /* 20px */
  --leading-06: 1.5rem; /* 24px */
  --leading-07: 1.75rem; /* 28px */
  --leading-08: 2rem; /* 32px */
  --leading-09: 2.25rem; /* 36px */
  --leading-10: 2.5rem; /* 40px */
  --leading-auto: auto; /* auto */

  /* Radius */
  --radius-01: 0.375rem; /* 6px */
  --radius-02: 0.5rem; /* 8px */
  --radius-03: 0.75rem; /* 12px */

  /* Shadows */
  --shadow-01: 0px 1px 11px 0px rgba(0, 0, 0, 0.09);
  --shadow-02: 0px 5px 8px 0px rgba(0, 0, 0, 0.12);
  --shadow-error: 0px 1px 10px 0px rgba(255, 104, 110, 1);
  --shadow-success: 0px 1px 10px 0px rgba(141, 212, 193, 1);

  /* Paddings spacing */
  --spacing-0: 0rem; /* 0px */
  --spacing-01: 0.25rem; /* 4px */
  --spacing-02: 0.5rem; /* 8px */
  --spacing-03: 0.75rem; /* 12px */
  --spacing-04: 1rem; /* 16px */
  --spacing-05: 1.5rem; /* 24px */
  --spacing-06: 2rem; /* 32px */
  --spacing-07: 2.5rem; /* 40px */
  --spacing-08: 3rem; /* 48px */
  --spacing-09: 4rem; /* 64px */
  --spacing-10: 5rem; /* 80px */
  --spacing-11: 6rem; /* 96px */

  /* Text size */
  --text-01: 0.75rem; /* 12px */
  --text-02: 0.875rem; /* 14px */
  --text-03: 1rem; /* 16px */
  --text-04: 1.125rem; /* 18px */
  --text-05: 1.5rem; /* 24px */
  --text-06: 2rem; /* 32px */
  --text-07: 2.5rem; /* 40px */
  --text-08: 3rem; /* 48px */
  --text-09: 4rem; /* 64px */

  /* Theme color */
  --color-primary: var(--color-red-600);
  --color-primary-hover: var(--color-red-500);
  --color-primary-active: var(--color-red-700);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-red-600);
  --color-success: var(--color-red-600);
  /* From ShadCN */


  /* Letter Spacing */
  --tracking-0: 0em; /* 0% */
  --tracking-01: 0.01em; /* 1% */
  --tracking-02: 0.02em; /* 2% */
  --tracking-03: 0.03em; /* 3% */

  /* Keyframes */
  /* Caret blink */
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: "1";
    }
    20%,
    50% {
      opacity: "0";
    }
  }
  /* Accordion down */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  /* Accordion up */
  --animate-accordion-up: accordion-up 0.2s ease-out;
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  body {
    font-family: "Nunito-Sans", sans-serif;
  }
}

/* Grids */
/* @layer components {
  .desktop-grid {
  }
  .tablet-grid {
  }
  .mobile-grid {
  }
} */
