@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans/NunitoSans-Variable.ttf")
    format("truetype");
  font-weight: 400 600 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --*: initial;
  /* Red color */
  --color-red-900: oklch(0.35 0.1426 27.65);
  --color-red-800: oklch(0.42 0.1681 27.35);
  --color-red-700: oklch(0.5 0.1918 26.7);
  --color-red-600: oklch(0.57 0.2111 25.58);
  --color-red-500: oklch(0.65 0.2257 24.52);
  --color-red-400: oklch(0.71 0.1843 20.74);
  --color-red-300: oklch(0.78 0.1289 18.07);
  --color-red-200: oklch(0.87 0.0727 16.56);
  --color-red-100: oklch(0.96 0.0218 14.06);
  --color-red-50: oklch(0.98 0.0075 17.28);
  /* Gray color */
  --color-gray-900: oklch(0.33 0 0);
  --color-gray-800: oklch(0.45 0 0);
  --color-gray-700: oklch(0.55 0 0);
  --color-gray-600: oklch(0.63 0 0);
  --color-gray-500: oklch(0.72 0 0);
  --color-gray-400: oklch(0.8 0 0);
  --color-gray-300: oklch(0.88 0 0);
  --color-gray-200: oklch(0.95 0 0);
  --color-gray-100: oklch(0.99 0 0);
  /* Green color */
  --color-green-800: oklch(0.37 0.075777 166.9732);
  --color-green-700: oklch(0.5 0.1035 165.97);
  --color-green-500: oklch(0.63 0.1311 165.21);
  --color-green-300: oklch(0.82 0.0764 175.63);
  --color-green-200: oklch(0.94 0.0269 176.33);
  /* Yellow color */
  --color-yellow-800: oklch(0.51 0.1042 96.01);
  --color-yellow-700: oklch(0.7 0.1442 95.27);
  --color-yellow-500: oklch(0.88 0.1816 94.9);
  --color-yellow-300: oklch(0.94 0.1067 98.28);
  --color-yellow-200: oklch(0.99 0.0291 98.47);
  /* Black and white */
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);
  /* Primary */
  --color-primary: oklch(0.57 0.2111 25.58);
  /* Paddings-spacing */
  --spacing-0: 0px;
  --spacing-01: 4px;
  --spacing-02: 8px;
  --spacing-03: 12px;
  --spacing-04: 16px;
  --spacing-05: 24px;
  --spacing-06: 32px;
  --spacing-07: 40px;
  --spacing-08: 48px;
  --spacing-09: 64px;
  --spacing-10: 80px;
  --spacing-11: 96px;
  /* Shadows */
  --shadow-01: box-shadow 0px 1px 11px 0px rgba(0, 0, 0, 0.09);
  --shadow-02: box-shadow 0px 5px 8px 0px rgba(0, 0, 0, 0.012);
  --shadow-error: box-shadow 0px 16px 7px 0px rgba(255, 104, 110, 1);
  --shadow-success: box-shadow 0px 0px 10px 0px rgba(141, 212, 193, 1);
  /* Radius */
  --radius-01: 0.375rem;
  --radius-02: 0.5rem;
  --radius-03: 0.75rem;
  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* Font size */
  --text-01: 0.75rem;
  --text-02: 0.875rem;
  --text-03: 1rem;
  --text-04: 1.125rem;
  --text-05: 1.5rem;
  --text-06: 2rem;
  --text-07: 2.5rem;
  --text-08: 3rem;
  --text-09: 4rem;
}

:root {
  font-family: "Nunito Sans", "sans-serif";
}
